@model StoEtDash.Web.Database.Models.Transaction;

<tr>
	<td style="width: 10%">@Model.Action.ToString()</td>
	<td style="width: 10%">@Model.Time</td>
	<td style="width: 30%">@Model.Name</td>
	<td style="width: 10%">@Model.NumberOfShares</td>
	<td style="width: 10%">@Model.PricePerShare</td>
	<td style="width: 10%">@Model.TotalInEur</td>
</tr>