@using StoEtDash.Web.Database.Models;
@using StoEtDash.Web.Models;
@model DashboardViewModel;

@{
	ViewData["Title"] = "Dashboard";
}

@section Styles {
	<link rel="stylesheet" href="~/css/dashboard.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
}

@await Html.PartialAsync("_TransactionListModal")
@await Html.PartialAsync("_EditTransactionModal")

@await Html.PartialAsync("_BuyTransactionModal", new TransactionViewModel {
	ActionType = TransactionActionType.Buy
})

@await Html.PartialAsync("_SellTransactionModal", new TransactionViewModel {
	ActionType = TransactionActionType.Sell
})

<div class="widget-card-container">
	<div class="widget-card">
		<div class="widget-card-heading">Portfolio</div>
		<div class="widget-card-row">
			<div class="widget-card-label">Current portfolio value</div>
			<div class="widget-card-value">@($"{Model.PortfolioValue.ToString("0.00")} €")</div>
		</div>
	</div>
	<div class="widget-card">
		<div class="widget-card-heading">Investments</div>
		<div class="widget-card-row">
			<div class="widget-card-label">Total amount invested (includign fees)</div>
			<div class="widget-card-value">@($"{Model.InvestedValue.ToString("0.00")} €")</div>
		</div>
		<div class="widget-card-row">
			<div class="widget-card-label">Total fees paid</div>
			<div class="widget-card-value">@($"{Model.FeesPaid.ToString("0.00")} €")</div>
		</div>
	</div>
	<div class="widget-card">
		<div class="widget-card-heading">Returns</div>
		<div class="widget-card-row">
			<div class="widget-card-label">Current return value</div>
			<div class="widget-card-value">@($"{(Model.PortfolioValue - Model.InvestedValue).ToString("0.00")} €")</div>
		</div>
	</div>
	<div class="widget-card">
		<div class="widget-card-heading">Dividends</div>
		<div class="widget-card-row">
			<div class="widget-card-label">Expected dividends</div>
			<div class="widget-card-value">@($"{Model.ExpectedDividends.ToString("0.00")} €")</div>
		</div>
	</div>
</div>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>No. of shares</th>
			<th>Invested Value</th>
			<th>Fees Paid</th>
			<th>Average Price</th>
			<th>Price / Share</th>
			<th>Expected Dividends</th>
			<th>
				<button type="button" data-bs-toggle="modal" data-bs-target="#buyTransactionModal" class="button button-primary">BUY</button>
			</th>
		</tr>
	</thead>
	@{
		if (Model?.Assets?.Any() == true)
		{
			<tbody>
				@foreach (var asset in Model.Assets)
				{
					await Html.RenderPartialAsync("_Asset", asset);
				}
			</tbody>
		}
		else
		{
			<tfoot>
				<tr style="position: relative">
					<th style="border: 0">
						<div style="position: absolute; width: 100%; left: 0; right: 0; text-align: center">
							No available assets
						</div>
					</th>
				</tr>
			</tfoot>
		}
	}
</table>